@font-face {
  font-family: 'MyFont';
  src: url('/fonts/spotify.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

header {
  font-family: 'MyFont', sans-serif;
}

#main, section, div, h1, h2, p {
  font-family: 'MyFont', sans-serif;
}

#head {
  font-family: 'MyFont', sans-serif;
}
